<strong>Your User Identity: {{ user.identity }}</strong>
<br /><br />

<strong>Tests to go:</strong><br/>
<ol>
    {% for test in tests %}
        <li>{{ test }} &rarr; <a href="{{ path('test-run', {uuid: test.identity}) }}">start</a></li>
    {% endfor %}
</ol>

<br/><br />

<strong>Tests passed:</strong><br />
<ol>
    {% for testResult in testResults %}
        <li>
            {{ testResult.test }} [started at {{ testResult.startedAt|date('Y-m-d H:i:s') }}]
            {% if testResult.isEnded %}
                finished.
                <a href="{{ path('test-result-view', {uuid: testResult.identity}) }}">View</a>
            {% else %}
                in progress.
                <a href="{{ path('test-result-process', {uuid: testResult.identity}) }}">Continue</a>
            {% endif %}
        </li>
    {% endfor %}
</ol>