<a href="{{ path('index') }}">Main page</a><br /><br />

Test "<strong>{{ testResult.test }}</strong>" is finished!<br /><br />
<a href="{{ path('test-result-view', {uuid: testResult.identity}) }}">See results</a>