<a href="{{ path('index') }}">Main page</a><br /><br />

Test "<strong>{{ testResult.test }}</strong>".<br /><br />

Question {{ questionIndex + 1 }}/{{ questionsCount }}: <strong>{{ question }}</strong><br />
<form method="post" id="answerForm">
    <input type="hidden" name="action" id="actionField" />
    <ol>
        {% for answerIndex, answer in answers %}
            <li>
                <input type="hidden" name="answer[{{ answerIndex }}]" value="off">
                <input type="checkbox" name="answer[{{ answerIndex }}]" {{ answer.identity in selectedAnswers ? 'checked="checked"' : '' }} id="answer-{{ answerIndex }}" />
                <label for="answer-{{ answerIndex }}">{{ answer }}</label>
            </li>
        {% endfor %}
    </ol>
</form>
<br />

<script type="text/javascript">
    let form = document.getElementById('answerForm')
    let actionField = document.getElementById('actionField');

    function setActionAndGo(action) {
        actionField.value = action;
        form.submit();
    }
</script>

{% if hasPreviousQuestion %}
    <button onclick="setActionAndGo('previous')">Previous</button>
{% endif %}
{% if hasNextQuestion %}
    <button onclick="setActionAndGo('next')">Next</button>
{% endif %}
{% if not hasNextQuestion %}
    <button onclick="setActionAndGo('finish')">Finish</button>
{% endif %}