<a href="{{ path('index') }}">Main page</a><br /><br />

Test "<strong>{{ testResult.test }}</strong>".<br /><br />

<strong>Questions with correct answer:</strong><br />
{% for questionIndex, result in questionsResult %}
    {% if result.isCorrect %}
        {{ questionIndex + 1 }}. {{ result.question }}<br />
    {% endif %}
{% endfor %}
<br /><br />

<strong>Questions with incorrect answer:</strong><br />
{% for questionIndex, result in questionsResult %}
    {% if not result.isCorrect %}
        {{ questionIndex + 1 }}. {{ result.question }}<br />
        {% for answer in result.answers %}
            {% if not answer.isCorrect and answer.identity in result.selectedAnswers %}
                <em>selected answer <strong>{{ answer }}</strong> is incorrect</em><br />
            {% endif %}
        {% endfor %}
        <br />
    {% endif %}
{% endfor %}